{% extends "msite/header.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <center>
      <img src="{% static '/amms.png' %}" alt="AMMS" style="width:50%">
    </br>
    </br>
      <a href="/blog/AMMS"><button type="button" class="btn btn-default">AMSS</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/windows.png' %}" alt="Windows" style="width:50%">
    </br>
    </br>
      <a href="/blog/Windows"><button type="button" class="btn btn-default">Windows</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/printer.png' %}" alt="Drukarki" style="width:50%">
    </br>
    </br>
    <a href="/blog/Drukarki"><button type="button" class="btn btn-default">Drukarki</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/paragraph-symbol.png' %}" alt="Procedury" style="width:50%">
    </br>
    </br>
      <a href="/blog/Procedury"><button type="button" class="btn btn-default">Procedury</button></center></a>
    </div>
  </div>
  <div class="row"></br></br></div>
</div>

</div>

<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <center>
      <img src="{% static '/dollar.png' %}" alt="Ksiegowosc" style="width:50%">
    </br>
    </br>
      <a href="/blog/Finanse"><button type="button" class="btn btn-default">Księgowość</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/grid-pixel.png' %}" alt="Pixel" style="width:50%">
    </br>
    </br>
      <a href="/blog/Pixel"><button type="button" class="btn btn-default">Pixel</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/erp.png' %}" alt="ERP" style="width:50%">
    </br>
    </br>
      <a href="/blog/ERP"><button type="button" class="btn btn-default">ERP Simple</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/seod.png' %}" alt="SEOD" style="width:50%">
    </br>
    </br>
      <a href="/blog/SEOD"><button type="button" class="btn btn-default">SEOD</button></center></a>
    </div>
  </div>
  <div class="row"></br></br></div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <center>
      <img src="{% static '/backup.png' %}" alt="Backup" style="width:50%">
    </br>
    </br>
      <a href="/blog/Backup"><button type="button" class="btn btn-default">Kopie zapasowe</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/tools.png' %}" alt="Tools" style="width:50%">
    </br>
    </br>
      <a href="/blog/Tools"><button type="button" class="btn btn-default">Narzędzia</button></center></a>
    </div>
    <div class="col-lg-3">
      <center>
      <img src="{% static '/faq.png' %}" alt="FAQ" style="width:50%">
    </br>
    </br>
      <a href="/blog/Wiki"><button type="button" class="btn btn-default">O Wiki</button></center></a>
    </div>
    <div class="col-lg-3">
      <!-- <center>
      <img src="{% static '/seod.png' %}" alt="SEOD" style="width:50%">
    </br>
    </br>
      <button type="button" class="btn btn-default">SEOD</button></center> -->
    </div>
  </div>
  <div class="row"></br></br></div>
</div>

</div>
{% endblock%}
