{% extends "msite/header.html" %}

{% block content %}



<div class="container">
<h2>Spis telefonów</h2>
  <p></p>
  <table class="table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Telefon #1</th>
        <th>Telefon #2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Serwis #1</td>
        <td>23 671 23 33</td>
        <td>23 671 23 35</td>
      </tr>
      <tr>
        <td>Serwis #2</td>
        <td>20 672 23 53</td>
        <td>20 672 23 35</td>
      </tr>
      <tr>
        <td>Serwis #3</td>
        <td>26 670 20 67</td>
        <td>26 670 20 75</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock%}
